<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
   
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
   
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">DjangoVota</a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
         <li><a href="{% url "logout" %}">Desconectar</a></li>
        {% else %}
          <li><a href="/accounts/login">Conectar</a></li>
        {%endif%}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{% if user.is_authenticated %}
        				Usuario: {{user}}
    				  {% else %}
        				Usuario desconectado
    				  {% endif %}
	</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>